{% extends "django_wysiwyg/yui/includes.html" %}

{% load i18n %}

{% block django_wysiwyg_editor_config %}
    {{ block.super }}
    django_wysiwyg_editor_config.width = "800px";
    django_wysiwyg_editor_config.autoHeight =  true;

    var buttons = django_wysiwyg_editor_config.toolbar.buttons,
        newButtons = [];
    for (var i = 0; i < buttons.length; i++) {
        if (buttons[i].group != "insertitem") {
            newButtons.push(buttons[i]);
        }
    };
    django_wysiwyg_editor_config.toolbar.buttons = newButtons;
{% endblock %}
